 /* Leaderghips page */


 @media screen and (min-width:576px) and (max-width:991px){ 
    .LeadershipTop .items .item h2{
        font-weight: 700;
        font-size: 60px;
        font-family: "Titillium Web";
      }
      .search-bar{
        display: none !important;
      }
      .canv-btn{
        display: block !important;
      }
      .drop{
        display: none !important;
      }
}
@media screen and (max-width:576px) {
    .LeadershipTop .items .item {
        text-align: center;
        border-right:  0px;
        border-bottom: #adadad solid 1px
      }

      .LeadershipTop .items  .oneHundred,.LeadershipTop .items .twenty,.LeadershipTop .items  .thirty{
        height:200px;
      }

      .LeadershipTop .items .p-twenty,.LeadershipTop .items .p-thirty{
        padding-top:50px
      }
      h2{
        font-size: 40px !important;
       }
       .search-bar{
        display: none !important;
      }
      .canv-btn{
        display: block !important;
      }
      .drop{
        display: none !important;
      }

      .after-tit::after{
        left: 290px !important;
      }
      h2{
        font-size: 40px !important;
      }
      h4{
        font-size: 20px !important;
      }
}

.about-tit::before {
  position: absolute !important;
  content: "";
  display: block;
  width: 60px;
  height: 1.5px;
  background-color: rgb(255, 127, 36);
  top: 50%;
  left: 105px;
}
