@media screen and (max-width:990px){
    html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
/* navbar*/
.nav-item .drop{
    display: none;
}
    .search-bar{
        display: none !important;
    }
    

    .header .header-content .header-items p{
        font-size: 40px;
    }
    .navbar{
        position: fixed;
        background-color: white;
        z-index: 999;
    }
    
    .container .together a{
        position: absolute;
    }
    .container .row {
        gap: 0;
    }
    .container .row3 {
        gap: 0;
    }
    .container .together .box{
        width: 500px;
        height: 150px;
        bottom: -50px;
        left: 0px;
        border: 1 solid black;
        background-color: white;
        z-index: 2;
    
    }
    .container .together h3::after{
        content: '';
        position: absolute;
        bottom: 47%;
        height: 1px;
        width: 80px;
        background-color: orange;
      
      
      }
    h2{
        font-size: 40px;
       }
       .ourProjects .projectcontent{
        font-size: 40px;
       }
       /* reday-sec*/
       .ready .ready-components {
        margin-top: -20px;
    }


    .ready .ready-components p{
        width: 350px; 
        height: 50%; 
        top: 20%;
        left: 7%;
        font-size:40px;
    }


    .ready .ready-components .twoAnchor{
        width: 540px; 
        position: absolute;
        top:220px;
        left: 7%;
        
    }
    .container .together .box{
        height: 120px;
        bottom: -50px;
        left: -100px;
        border: 1 solid black;
        background-color: white;
        z-index: 2;
    
    }
    .container .together .box h3 {
        margin:0px;
    }
    .footer .container .row3 .socials a{
        padding: 25px;
    }
    .building .numbers .stats{
        height: 50% !important;
        margin-top: 0 !important;
        padding: 0;
    }
    .elementor-btn{
        width: 60% !important;
    }
    .canv-btn{
        display: block !important;
    }
    .contactus-title{
        flex-direction: column !important;
    }
    .contactus-title .proj-title{
        width: 100% !important;
    }
    .cont-form {
        gap: 15px !important;
    }
    
    }
    /*----------------------*/
    @media (max-width:768px){
        html,body
        {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            overflow-x: hidden; 
        }
        /*ready-sec*/
        .ready .ready-components {
            position: relative;
            margin-top: 0px;
            margin-left:-550px;
            border-bottom:#ff724c solid 8px;
        
        }
        
    
        .ready .ready-components p{
            width: 300px; 
            height: 70%; 
            top: 20%;
            left: 65%;
            font-size:40px;
        }
    
    
    
        .ready .ready-components .twoAnchor{
            width: 240px; 
            top: 60%;
            left: 65%;
            
        }
    
    
        .ready .ready-components .twoAnchor a{
            background-color: #3f3e3d66;
            font-weight: 600;
            font-size:12px;
            display: block;
            margin-bottom:10px;
            padding:20px 35px;
    
        }
    
    
        
    .ready .ready-components .twoAnchor a::after{
        content:'';
        position: absolute;
        left:35px;
        bottom:15px;    
        height:1px;
        width:68%;
        background-color: #fff;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.6s ease-in-out;
    }
    .header-const{
        flex-wrap: wrap;
    }
    .header-const h1{
        font-size: 40px !important;
    }
    }
    @media(max-width:500px){
        html,body
        {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            overflow-x: hidden; 
        }
        .container .together .box{
            width: 200px;
            height: 60px;
            bottom: -50px;
            left: -30px;
            border: 1 solid black;
            background-color: white;
            z-index: 2;
    }
    .header-const{
        flex-wrap: wrap;
    }
    .header-const h1{
        font-size: 40px !important;
    }
   .header-const .title-sec h2 {
    font-size: 30px !important;
   }
   .header-const .img-sec{
   margin: 0 !important;
   }
   .title-sec h3{
    font-size: 30px !important ;
    width: 100% !important;
   }
   .title-sec .const-btn{
    width: 120px;
    height: 40px;
    bottom:-3px;
   }
   
      .title-sec .const-btn a span {
    font-size: 14px !important;
   }
   .title-sec .const-btn a i{
    font-size: 25px !important;
    margin-bottom: 5px;
   }
   .side-desc{
    padding-left: 10px !important;
    padding-right: 10px !important;
   }
   .side-desc h2 {
    font-size: 35px !important;
   }
   .side-desc .elementor-btn {
    width: 100% !important;
   }
   .contact-img{
    display: none !important;
   }
}
