
@media screen and (min-width: 576px) and (max-width: 991px) {
  .ourProjects .projectcontent {
    font-size: 48px;
    
  }
  .search-bar {
    display: none !important;
}
.nav-item .drop{
  display: none;
}
.canv-btn{
  display: block !important;
}
}
@media screen and (max-width: 575px) {
  .ourProjects .projectcontent {
    font-size: 24px;
  }
  .search-bar {
    display: none !important;
}
.nav-item .drop{
  display: none;
}
.canv-btn{
  display: block !important;
}
}
