@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,400;0,500;0,600;1,200;1,300&display=swap');
body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
h2{
  font-family:'Titillium Web', sans-serif ;
  font-size: 64px;
}
h3{
  font-family:'Titillium Web', sans-serif ;
  font-size: 32px;
  color: #000000 !important;
}
p{
  font-family:'Titillium Web', sans-serif ;
  font-size: 14px;
}
/* start navbar */
*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}
.navbar{
  background-color: white!important;
  align-content:space-around;

  
}
.navbar-brand img{
  width: 50px;
  height: 50px;
   
}
.logo-name{
  font-size: 18px;
  color: #000000;
  font-weight: 500;
}
.nav-link{
  position: relative;
  font-size: 12px;
  color: #000000;

  font-weight: 700;


}
.nav-link::after{
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
  left: 0;
  background-color: orange;
  transform-origin: right;
  transform: scalex(0);
  transition: transform 0.5s ease-in-out;
}
:hover::after{
  transform-origin: left;
  transform: scalex(1);

}
.nav-item .drop .pic-down{
display: flex;
}
.nav-item .drop{
  left: 60px;
  top:65px;
  width: 900px;
  height: 650px;

}
.nav-item .drop .row{
  justify-content: space-between;
  gap:0;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.nav-item .drop .row .sec-down .menu-link:hover h3{
  color: orange !important;
}

.nav-item .drop .row .sec-down span{
  font-size: 14px;
  font-weight: 200;
  color: #000;
  margin-left: 10px;
}
.nav-item .drop .row .sec-down .menu-link:hover span{
  color: orange !important;
}

.search-bar .search-icon::after{
  content: '';
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 1px;
  left: 25%;
  background-color: #566E80;

}
.search-bar .search-icon a{
  color: #566E80;
  padding-right: 30px;
}
.search-bar .get a{
  font-size: 12px;
  color: #546B7E;
  font-weight: 700;
}
.search-bar .get a::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
  right: 0;
  background-color: #546B7E;
  transform-origin: right;
  transform: scalex(0);
  transition: transform 0.5s ease-in-out;
}
.search-bar .get a:hover::after{
  transform-origin: left;
  transform: scalex(1);
}

/* end navbar */

/* start header */

.word {
  width: 220px;
  opacity: 0;
}
.header{
  background-image: url('imges/arch.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.header-content {
  align-content: flex-end;
  align-items: flex-end;
}

.header-content .header-items span{
  color: white;
  font-size: 120px;
  font-weight: 500;
}
.header-content .button .button-content{
  font-size: 12px;
  font-weight: 600;

}
.header-content .button a{
  border-radius: 0;
  background-color: white;
  font-size: 12px;
  font-weight: 600;
  transition: background-color 0.8s, color 0.8s ;

}
.header-content .button a::after{
  content: '';
  position: absolute;
  bottom: 2px;
  height: 1px;
  width: 100%;
  left: 0;
  background-color: #000000;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.8s ease-in-out;
  transition: background-color fixed;

}
.header-content .button a:hover::after{
  transform-origin: left;
  transform: scaleX(1);
  background-color: white;
}
.header-content .button a:hover{
  background-color: #000000;
  color: white;

}

.container .together{
  flex-direction: column;
  align-items: baseline;
  z-index: 1;
}
.container .together .box{
  width: 500px;
  height: 150px;
  bottom: -50px;
  left: 0px;
  border: 1 solid black;
  background-color: white;
  z-index: 2;

}
.container .together h3::after{
  content: '';
  position: absolute;
  bottom: 58%;
  height: 1px;
  width: 80px;
  background-color: orange;


}
.container .together .contact{
  color: #000000;
  font-weight: 200;
  
}
.container .together .contact:hover{
  color: orange;

}

.container .row{
  display: flex;
  gap: 100px;

}
.container .row .row-item{
  padding-top: 20px;
}

.container .row .row-item span{
  font-size: 14px;
  color: #a69898;
}
.container .row .row-item p{
  font-size: 20px;
  color: #000000;
  font-weight: 400;
  padding-top: 20px;
  
}

/* end header */

/* start footer */

.footer .container .row1 .info span{
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  
}
.footer .container .row1 .info p{
  font-size: 14px;
  font-weight: 200;
  color: #5a5656;
  padding-top: 10px;
  
}
.footer .container .row1 .info a{
  font-size: 14px;
  font-weight: 200;
  color: #5a5656;
  transition: color 0.2s;
}
.footer .container .row1 .info a:hover{
  color: orange;
}
.footer .container .row2 .projects{
  padding-left: 0;
  padding-right: 40%;
  padding-bottom: 20px;
}


.footer .container .row2 .projects a{
  font-size: 20px;
  color: #000000;
  font-weight: 400;
  width: max-content;
  transition: color 0.5s;
  
}
.footer .container .row2 .projects a:hover{
  color: orange;
}
.footer .container .row2 .projects a::after{
  content: '';
  position: absolute;
  bottom: -2px;
  height: 1px;
  width:100%;
  left: 0;
  background-color: #000000;
  transform-origin: right;
  transform: scalex(0);
  transition: transform 0.5s ease-in-out;
  transition: background-color fixed;

}
.footer .container .row2 .projects a:hover::after{
  transform: scalex(1);
  transform-origin: left;
  background-color: orange;
}

.footer .container .row2 .projects::after{
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
  left: 0;
  background-color: #000000;
  transition: background-color 0.5s;
}
.footer .container .row2 .projects:hover::after{
  background-color: orange;
}
.footer .container .row3{
  justify-content: space-between;

}
.footer .container .row3 .socials a{
  font-size: 12px;
  color: #000000;
  font-weight: 400;
  padding-top: 50px;
  transition: color 0.5s;
}
.footer .container .row3 .socials a:hover{
  color: orange;
}
.footer .container .row3 .socials a::after{
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
  right: 0;
  background-color: #546B7E;
  transform-origin: right;
  transform: scalex(0);
  transition: transform 0.5s ;
}
.footer .container .row3 .socials a:hover::after{
  transform: scalex(1);
  transform-origin: left;
}


/* .footer .container .row3 .socials */


/* end footer */




/* ***********ourProject************** */

.ourProjects .projectheader {
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}
.ourProjects .projectheader::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 1.5px;
  background-color: #fa6400;
  bottom: 10px;
  left: 70px;
}
.ourProjects .projectcontent {
  font-family: "Titillium Web", sans-serif;
  font-size: 64px;
  font-weight: 400;
}
.ourProjects .headerprojectlink {
  font-family: "Titillium Web", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #656765;
  position: relative;
}
.ourProjects .headerprojectlink:hover {
  color: #fa6400;
}

.ourProjects .headerprojectlink::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #fa6400;
  bottom: 4%;
  left: 0%;
  transition: width 0.5s;
}
.ourProjects .headerprojectlink:hover::after {
  width: 100%;
}

.ourProjects #carouselExample .df {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ourProjects #carouselExample .df .parent-image {
  padding: 0px 10px;
}

.ourProjects #carouselExample .arrowLeft,
.ourProjects #carouselExample .arrowRight {
  background-color: rgb(228, 225, 221);
  font-size: 30px;
  color: black;
  padding: 15px 10px;
}

.carousel-inner .imgParent {
  width: 355px;
  height: 200px;
  overflow: hidden;
}
.carousel-inner .imgParent img {
  width: 100%;
  height: 100%;
  display: inline-block;
  transition: transform 0.5s;
  cursor: pointer;
}
.carousel-inner .imgParent img:hover {
  transform: scale(1.2);
}
.ourProjects .projectLink a {
  font-family: "Titillium Web", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #656765;
}
.ourProjects h4 a {
  font-family: "Titillium Web", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: black;
  position: relative;
  transition: color 0.5s;
}
.ourProjects h4 a:hover {
  color: #fa6400;
}
.ourProjects h4 a:hover::after {
  width: 100%;
}
.ourProjects h4 a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #fa6400;
  bottom: 4%;
  left: 0%;
  transition: width 0.5s;
}


/* **************ourSector*************** */

.Proj .icon{

  justify-content: space-around;
}
.Proj .icon img {
  width: 120px;
  height: 120px;
  font-weight: 100;
  
}

.Proj P{
  font-size: 14px;
}

.Proj .links a{
  font-family: "Titillium Web";
  font-size: 12px;
  font-weight: 400;
  color: #4e4e4e;
}
.Proj .links .sectorLink {
  background-color: #f9f9f9;
  padding:0px 10px;
}




/* *************************************************** */

/* public ########## */




a{
    text-decoration: none;
}


h1,h2,h3,h4,h5,h6{
    font-family: "Titillium Web";
}
h1{
  font-size: 80px !important;
}

h2{
    font-size: 64px;
    font-weight: 400;
    
}
h3{
    font-size: 22px;
}
h5 {
          
    position: relative;
}


h5:before {
  content: "";
  display: block;
  width: 60px;
  height: 1.5px;
  background-color: rgb(255, 127, 36);
  left: 60px;
  top: 50%;
  position: absolute;
}



/* Muhannad section ########## */
.Safety{
  margin-top:100px;
}



.Safety .parent {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

.Safety .parent .imgBack {
  position: relative;
  bottom: 80px;
  left: 70px;
  width:300px;

  
}
.Safety .parent .imgBtmRight {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width:300px;
}
.Safety .text-content{
    /* background-color: #ff724c; */
    padding: 40px;
}


.Safety .text-content  .title-section{
    font-weight: 400;
    font-family: "Titillium Web";
}

.Safety .text-content .title-section::after{
    background-color: #ff724c;
    position: absolute;
    left: 50%;
}

.Safety .text-content h2{
  width:80%;
}

.Safety .text-content p{
    width:80%;
}


.Safety .text-content .anchor{
    display: flex;
    padding-top:20px;
    position: relative;
    width:100%

}

.Safety .text-content .anchor  a{
    margin-right:16px ;
    font-family: "Archivo";
    font-size: 14px;
    color:#000;
    position: relative;
    transition: .2s;
    width:fit-content;
    padding-bottom:10px;
    padding-right:20px;

}


.Safety .text-content .anchor .anchor-learnMore{
    border-right:#adadad solid 1px;
    
}






.Safety .text-content .anchor > a:hover{
    color: #ff724c;
}

.Safety .text-content .anchor a:after{
    content: '';
    position: absolute;
    background-color: #ff724c;
    height: 1px;
    width:0;
    left: 0;
    bottom: 12px;
    transition: .5s;
}


.Safety .text-content .anchor a:hover:after{
    width: calc(100% - 20px);
}

.possible .cropped {
 width: 100%; 
 height: 70%; 
 overflow: hidden;
 position: relative;

 }
.possible  img{
 margin: -100px 0px -40px 0px;
}

.possible p{
 width: 700px; 
 height: 70%; 
 position: absolute;
 top: 20%;
 left: 20%;
 font-family: "Titillium Web";
 font-weight: 790;
 font-size:100px;
 color:#fff;

}

/* .Safety .text-content .anchor .anchor-learnMore::after{
    border-right: 1px solid gray;
    padding-right: 14px;
} */

/* leadership */

.leadership,.News{
    margin-top: 100px;
}


.leadership .leadership-components h2{
  
    padding-top:100px
}

.elementor-btn{
    background-color: #000;
    color: #fff;
    padding: 15px 25px ;
    font-family: "Archivo";
    font-size: 14px;
    position: relative;
    transition: .5s;

}


.leadership .leadership-components .test .arrowLeft{
    background-color: rgb(228, 225, 221);
    font-size:30px;
    margin-right:110px;
    color:black;
    padding:15px 10px;
}

.leadership .leadership-components .arrowRight{
    background-color: rgb(228, 225, 221);
    font-size:30px;
    margin-left:40px;
    color:black;
    padding:15px 10px;
}


 .elementor-btn:hover{
    border:solid 2px #000;
    background-color: #fff;
    color:#000;
}

 .elementor-btn p{
    display: inline-block;
    width:fit-content;
}

 .elementor-btn p:after{
    content: '';
    width:0;
    height: .5px;
    position: absolute;
    background-color:#000;
    bottom: 12px;
    left: 15%;
    transition: .7s;
}

 .elementor-btn:hover p:after{
    width:70%;
}

.leadership .leadership-components .post-text{
    padding-top:100px;
    width:75%;
    font-size:15px;
    font-family: "Titillium Web";
}

.leadership .leadership-components .post-text a{
    color:#000;
    position:relative;
    font-family: "Titillium Web";
    transition: .2s;
    width:fit-content;
}

.leadership .leadership-components .post-text a:hover{
    color:#ff724c;
}

.leadership .leadership-components .post-text a:after{
    content: '';
    width:100%;
    height: 1px;
    position: absolute;
    background-color:#ff724c;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.6s;

}

.leadership .leadership-components .post-text a:hover:after{
    transform-origin: left;
    transform: scalex(1);
}




.leadership .leadership-components .leadership-image img{
    width:100%;
    transition: .5s;
}

.leadership .leadership-components .leadership-image img:hover{
    transform: scale(1.1);
    cursor: pointer;


}

.img-over{
    overflow:hidden;
}

/* News Section */

.News{
    background-color:#F9F9F9;
    margin-top:100px;
}

.News .news-block{
    padding:180px 0px;
}

.News .news-block .insights{
    transition: .5s;
}
.News .news-block .insights:hover{
    border-bottom: #000 solid 3px;
    
}


.News .news-block .insights .new-image{
    width:80%;
}
.News .news-block .insights .new-image img{
    transition: .9s;

}
.News .news-block .insights .new-image img:hover{
    transform:scale(1.2);
    cursor: pointer;
}


.News .news-block .insights .new-image > a{
    color:#adadad;
    font-size:14px;
    display: inline-block;
    transition: .2s;
}

.News .news-block .insights .new-image > a:hover{
    color:#ff724c
}

.News .news-block .insights .new-image h4 a{
    color:#000;
    margin-top:10px;
    display: inline-block;
    transition: .2s;
    position: relative;
    width:fit-content;

}


.News .news-block .insights .new-image h4 a:hover{
    color: #ff724c;
    
}


.News .news-block .insights .new-image h4 a:after{
    content: '';
    width:0;
    height: 1px;
    position: absolute;
    background-color:#ff724c;
    bottom: 0;
    left: 0;
    transition: .5s;
    
}


.News .news-block .insights .new-image h4 a:hover:after{
    width:100%;
}



/* client section */

.clients .client-image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin:100px 0px;
}



.clients .client-image h3{
    padding:20px 40px;
    border-right:1px #adadad solid;
}


/* ready section */


.ready .ready-components {
    position: relative;
    margin-top: -100px;
    border-bottom:#ff724c solid 8px;

}

.ready .ready-components img{
    margin-bottom:-3px;
}
.ready .ready-components p{
    width: 500px; 
    height: 70%; 
    position: absolute;
    top: 30%;
    left: 9%;
    font-family: "Titillium Web";
    font-weight: 400;
    font-size:70px;
    color:#fff;
}


.ready .ready-components .work:before {
    content: "work";
    animation-name: replacement;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes replacement {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        content: "Build";
    }
}

.ready .ready-components .twoAnchor{
    width: 540px; 
    position: absolute;
    top:420px;
    left: 9%;
    font-family: "Archivo";
    
}

.ready .ready-components .twoAnchor a{
    background-color: #3f3e3d66;
    font-weight: 600;
    font-size:12px;
    color:rgb(255,255,255);
    padding:30px 45px;
    margin-right:10px;
    transition: .5s;
    position: relative;
}


.ready .ready-components .twoAnchor a:hover{
    background-color: #ff724c;
}


.ready .ready-components .twoAnchor a::after{
    content:'';
    position: absolute;
    left:45px;
    bottom:28px;    
    height:1px;
    width:64%;
    background-color: #fff;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.6s ease-in-out;
}

.ready .ready-components .twoAnchor a:hover:after{
    transform-origin: left;
    transform: scalex(1);
}
/*ibrahim section*/
/* Sustainability-section*/
.Sustainability{
  padding: 50px;
  margin-bottom: 120px;
}
.pic-pos2{
  /*fan-img*/
  width: 300px;
  height: 400px;
  z-index: 2;
}
.pic-pos1{
  position: absolute;
  left: 150px;
  bottom: 0px;
  width: 300px;
  height: 300px;
}
.title {
  font-family:'Titillium Web', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: black;
  background-color: white;
  padding-right: 5px;
  z-index: 1;
}
.title::after {
  content:"";
  top: 15px;
  width: 60px;
  height: 1.2px;
  align-content: flex-start;
position: absolute;
background-color: #ff724c ;
z-index: -1;
}
h2{
  font-family:'Titillium Web', sans-serif ;
  font-size: 64px;
}
p{
  font-family:'Titillium Web', sans-serif ;
  font-size: 14px;
}
.Sustainability .container .row .tilte-sec .butn{
  position: relative;
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 40px;
  border: 2px solid black;
  text-align: center;
  transform: 0.2s;
  transition: 0.4s;
}
.Sustainability .container .row .tilte-sec .butn:hover {
  background-color: white;
}

.Sustainability .container .row .tilte-sec .sp-tex{
  color: rgb(255, 255, 255);
  font-family: 'Archivo', sans-serif;
  font-size: 12px;
  font-weight: bold;
  transition: ease-in 1s;
}
.Sustainability .container .row .tilte-sec .butn::after{
  position: absolute;
  content: "";
  left: 30px;
  top: 32px;
  height: 1px;
  width: 80px;
  border-radius: 40px;
  background-color: #000000;
  transform-origin: right;
  transform :scaleX(0);
  transition: transform 0.5s ease-in-out;
  transition: background-color fixed;
}

.Sustainability .container .row .tilte-sec .butn:hover::after {
  transform-origin: left;
  transform: scaleX(1);
  color: black;
}
.Sustainability .container .row .tilte-sec .butn:hover .sp-tex {
color: black;
}
/*services*/
.services{
  background-color: #000000;
  z-index: -1;
  padding: 50px;
  margin-top: 80px;
}
.services-sec {
  z-index:2;
}
.services-sec .title {
padding-right: 8px;
}
.services-sec .title::after {
position: absolute;
background-color: #ff724c ;
content:"";
top: 14px;
width: 60px;
height: 1.2px;
align-content: flex-start;
z-index: -1;
}
.services-field .field{

  border-bottom: 1px solid rgb(255, 255, 255,0.3) ;
}
.services-field .field a{
  position: relative;
  width: 100%;
  height: 60px;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  text-align: left;
  justify-content: space-between;
}
.services-field .field span{
  width: fit-content;
  white-space: nowrap;
  position: relative;
  margin-left: 30px;
  font-family:'Titillium Web', sans-serif ;
  font-size: 24px;
  color: white;
}

.services-field .field span::before {
  position: absolute;
background-color: #ff724c ;
content:"";
top: 40px;
width: 100%;
left: 0px;
height: 1px;
transform-origin: right;
transform :scaleX(0);
transition: transform .6s ease-in-out;
}
.services-field .field:last-child::before {
  position: absolute;
  background-color: #ff724c ;
  content:"";
  top: 40px;
  width: 0;
  left: 20px;
  height: 1px;
  transform-origin: right;
  transform :scaleX(0);
  transition: transform .6s ease-in-out;
}
.services-field .field a :hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.services-field .field a:hover span{
  color: #ff724c;
}

.services-field .field i{
  display: none;
  text-align: right;
  font-size: 30px;
  color:#ff724c ;
  opacity: 0.8;
  z-index: 2;
}
.services-field .field a:hover ::after{
  display: block;
}
.services-field .field:hover i{
  display: block;
}
/*building for who*/
.building{
      margin-top: 50px;
      justify-content: space-between;
      background-position: center bottom;
      background-repeat: no-repeat;
      background-image:url(/assets/imges/ibrahim-section/pexels-martin-péchy-2763969.webp)
  

}
.building .tilte-building {
  display: flex;

text-align: left;
flex-direction: column;
}
.building .tilte-building span {
  font-size: 24px;
  font-family:'Titillium Web', sans-serif ;
  border-bottom: 1px solid rgba(31, 17, 17, 0.2);
  margin-bottom: 40px;
  padding-bottom: 20px;
}
.building .numbers{
  display: flex;

text-align: left;
flex-direction: column;
}
.building .numbers .stats{
  border-bottom: 1px solid rgba(31, 17, 17, 0.2);
}

i {
  font-weight: 300;
}
/*construction*/
.const-btn{
  right: 0;
  bottom: -3px;
  width: 200px;
  height: 80px;
  background-color: #F9F9F9;
  border-radius: 1px;
  border: 1px solid #f9f9f9;
  z-index: 2;
}
.const-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.const-btn a i{
  height: 100% !important;
  padding: 0 !important;
  margin-bottom: 9px;
}

.const-btn span{
  font-family: "Titillium Web" !important;
  font-size: 20px;
  height: 100% !important;

}
/*construction*/
.onhov-pc{
  overflow: hidden;
}
.onhov-pc img{
  object-fit: cover;
  
  scale: 1.0;
  transition: scale 0.8s ease-out;
}
.onhov-pc:hover img {
  scale: 1.12;
}


.fixed-pic{
  background-image: url(../assets/imges/ibrahim-section/GettyImages-1003354536-1-2048x1045.jpg);
  min-height: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
  
  
}
.carousel-control-prev ,.carousel-control-next{
  max-width: fit-content;
}
.scrolltop{
  position:fixed;
  bottom:30px;
  right:30px;
  padding:10px 15px;
  background-color:#5a5656;
  color:#fff;
  border-radius:5px;
  border-radius:1px solid #fff;
  cursor:pointer;
  transition:all 0.5s ease 0s;
  z-index: 11;
  
}
.scrolup{
  color: #F9F9F9;
}
.nextsib {
  font-family: "Titillium Web" !important;
}
.nextsib a:hover{
  color:#ff724c!important;
}
.canv-btn{
  position:fixed;
  bottom:30px;
  right:10px;
  padding:13px;
  background-color:#5a5656;
  color:#fff;
  border-radius:28px 7px;
  border-radius:1px solid #fff;
  cursor:pointer;
  transition:all 0.5s ease 0s;
  z-index: 11;
  width: 60px;
  height: 60px;
  font-size: 10px !important;
  word-wrap: break-word;
  text-align:center;
  
}